@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

:root {
    --softBlue: hsl(215, 51%, 70%);
    --cyan: hsl(178, 100%, 50%);
    --bgMain: hsl(217, 54%, 11%);
    --cardBg: hsl(216, 50%, 16%);
    --line: hsl(215, 32%, 27%);
    --white: hsl(0, 0%, 100%);
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    color: var(--white);
    font-family: 'Outfit', sans-serif;
   
    
}

.container {
    width: 100%;
    height: 100vh;
    background: var(--bgMain);
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    max-width: 400px;
    height: 70%;
    background-color: var(--cardBg);
    padding: 35px;
    border-radius: 15px;
    font-size: 12px;
    
}

.card-body {
    font-size: 16px;
}

.image {
    width: 100%;
    height: 275px;
    object-fit: cover;
    border-radius: 15px;
}

.card-image {
    position: relative;
}

.eye {
    position: absolute;
    top: 44%;
    left: 46%;
    display: none;
}

.overlay {
    background-color:var(--cyan);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 15px;
    opacity: 0;
}

.card-image:hover .eye {
    display: block;
    cursor: pointer;
    
}

.card-image:hover .overlay {
    opacity: 0.5;
    transition: 1s;
    cursor: pointer;
}

.card-title {
    margin-top: 25px;
}

.description {
    margin-top: 1.5rem;
}

.price {
    margin-top: 1.5rem;
    display: flex;
    justify-content: space-between;
}

.footer {
    border-bottom: 1px solid var(--line);
    width: 100%;
    height: .1px;
    margin-top: 1.5rem;
}

.price-left {
    color: var(--cyan);
}

.author-side {
    display: flex;
    margin-top: .8rem;
    align-items: center;
    justify-content: flex-start;
}
.avatar {
    width: 4rem;
    margin-right: .5rem;
}

.names:hover {
    color: var(--cyan);
    cursor: pointer;
}

.attribution, .attribution>a {
    color: #000;
    text-align: center;
}


@media (max-width:500px) {
    * {
        font-size: 15px;
    }
    
    
    .card {
        width: 320px;
        height: 70%;
        
    }
}

